@import "@/assets/scss/colours.scss";

.item {
  margin: 0;
  padding: 16px;
  cursor: pointer;

  &-active {
    padding: 16px;
    color: $tertiary;
    background-color: $light-white;
    border-radius: 20px;
    cursor: pointer;
  }
}
