.item-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: none;
  width: 100%;
  margin-top: 32px;

  @media screen and (min-width: 555px) {
    display: block;
  }
}
