.item-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 555px) {
    flex-direction: row;
    align-items: center;
  }
}

.button {
  width: 100%;
  margin-top: 32px;

  @media screen and (min-width: 555px) {
    display: none;
  }
}

.fixed-button {
  display: none;
  width: fit-content;

  @media screen and (min-width: 555px) {
    display: block;
  }
}

.floating-container {
  position: fixed;
  bottom: 0;
  left: -16px;
  right: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 100;
  background: #fff;
  padding: 16px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);

  @media (min-width: 555px) {
    display: none;
  }
}

.floating-button {
  padding: 16px 32px;
  font-size: 14px;
  background: #634aff;
  color: #fff;
  width: 85%;
}

.floatingButton:hover {
  background: #4b36c8;
}
