@use "@/assets/scss/colours.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 12px;
  padding: "20px";
  border: "1px solid $tertiary";
}
