@use "@/assets/scss/colours.scss" as *;

.container {
  padding: 20px;
  border-radius: 20px;
  background-color: $light-white;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: -10px;

  @media screen and (min-width: 550px) {
    font-size: 18px;
  }
}

.child-container {
  margin-top: 20px;
}

.duration {
  margin-bottom: -10px;
  font-size: 12px;

  @media screen and (min-width: 550px) {
    font-size: 14px;
  }
}
