.container {
  padding: 20px;
  border-radius: 20px;
  background-color: #f7f6ff;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 50%;
  color: #646cff;
  background-color: #f0edff;
}

.child-container {
  margin-top: 20px;
}

.duration {
  margin-bottom: -10px;
  font-size: 12px;
}
