@import "@/assets/scss/colours.scss";

.container {
  padding: 20px;
  border-radius: 20px;
  background-color: $light-white;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -10px;
}

.child-container {
  margin-top: 20px;
}

.duration {
  margin-bottom: -10px;
  font-size: 12px;
}
