.item-container {
  max-width: 1200px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.cta-text {
  margin-top: 32px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);

  @media screen and (min-width: 550px) {
    font-size: 16px;
  }
}
