.list-margin {
  margin-top: 40px;

  @media screen and (min-width: 1024px) {
    max-width: 800px;
    margin: 40px auto 0;
  }
}

.button {
  width: 100%;
  margin-top: 40px;
}

.text {
  margin-top: 40px;

  @media screen and (min-width: 1024px) {
    max-width: 800px;
    margin: 40px auto 0;
  }
}

.info-box {
  margin-top: 60px;
}

.items {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 304px;
  }

  @media screen and (min-width: 900px) {
    max-width: 370px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 265px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 340px;
  }
}
