.container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin-top: -20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 940px) {
    margin-bottom: 32px;
  }
}

.author-text {
  max-width: 700px;
}

.items {
  width: 100%;

  @media screen and (min-width: 664px) {
    width: 42%;
  }

  @media screen and (min-width: 750px) {
    width: 43%;
  }

  @media screen and (min-width: 864px) {
    width: 44%;
  }

  @media screen and (min-width: 1024px) {
    width: 45%;
  }

  @media screen and (min-width: 1264px) {
    width: 46%;
  }
}

.underline-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > div {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;

    & > div {
      width: 50%;
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
