@use "@/assets/scss/colours.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 8px 0;
}

.coloured-div {
  margin-top: -12px;
  color: $primary;
  font-size: 12px;

  @media screen and (min-width: 550px) {
    font-size: 14px;
  }
}
