@import "@/assets/scss/colours.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 8px 0;
}

.coloured-div {
  margin-top: -12px;
  color: $primary;
  font-size: 0.7rem;
}
