.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 12px 20px;
  background-color: #f8f8f7;
  border-radius: 12px;
  border: none;

  &:focus {
    outline: none;
  }
}
