@import "@/assets/scss/colours.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 12px;
  background-color: $grey;
  border-radius: 12px;
  border: none;
  color: $dark;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 480px) {
    padding: 12px 20px;
  }
}

.label {
  margin-left: 12px;

  @media screen and (min-width: 480px) {
    margin-left: 20px;
  }
}
