@import "@/assets/scss/colours.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 12px 20px;
  background-color: $grey;
  border-radius: 12px;
  border: none;
  color: $dark;

  &:focus {
    outline: none;
  }
}
