.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  height: 100px;
  padding: 12px 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8f8f7;
  border-radius: 20px;
  border: none;

  &:focus {
    outline: none;
  }
}
