@use "@/assets/scss/colours.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textarea {
  height: 100px;
  padding: 12px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $grey;
  border-radius: 20px;
  border: none;
  color: $dark;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 480px) {
    padding: 12px 20px;
  }
}

.label {
  margin-left: 12px;

  @media screen and (min-width: 480px) {
    margin-left: 20px;
  }
}
