@use "@/assets/scss/colours.scss" as *;

.container {
  padding: 20px;
  border: 1px solid $primary;
  border-radius: 20px;
}

.title {
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 28px;

  @media screen and (min-width: 550px) {
    margin-top: 36px;
  }
}
