@import "@/assets/scss/colours.scss";

.container {
  padding: 20px;
  border: 1px solid $primary;
  border-radius: 20px;
}

.title {
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 36px;
}
