@import "@/assets/scss/colours.scss";

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 50%;
  color: $tertiary;
  background-color: $light;
}
