@import "@/assets/scss/colours.scss";

.button {
  padding: 8px 12px;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $secondary;
  }
}

.secondary {
  background-color: $tertiary;
  color: $primary;
  border: 1px solid $tertiary;

  &:hover {
    background-color: $tertiary;
    color: $primary;
    border: 1px solid $primary;
  }
}
