@import "@/assets/scss/colours.scss";

.button {
  padding: 8px 12px;
  color: $secondary;

  background-color: $white;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}
