@use "@/assets/scss/colours.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.button {
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  color: $white;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $secondary;
  }

  @media screen and (min-width: 550px) {
    font-size: 16px;
  }
}

@media screen and (min-width: 650px) {
  .button {
    margin-top: 6px;
    width: fit-content;
  }
}
